<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schriftliche Abmahnung › {{ SYSTEM_NAME }}</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ BASE_PATH }}assets/css/style.min.css" />
    <link rel="stylesheet" href="{{ BASE_PATH }}assets/css/dokumente.min.css" />
    <link rel="stylesheet" href="{{ BASE_PATH }}assets/_ext/lineawesome/css/line-awesome.min.css" />
    <link rel="stylesheet" href="{{ BASE_PATH }}assets/fonts/mavenpro/css/all.min.css" />
    <link rel="stylesheet" href="{{ BASE_PATH }}assets/fonts/freehand/css/all.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ BASE_PATH }}vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script src="{{ BASE_PATH }}vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ BASE_PATH }}assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="{{ BASE_PATH }}assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_PATH }}assets/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="{{ SYSTEM_NAME }}" />
    <link rel="manifest" href="{{ BASE_PATH }}assets/favicon/site.webmanifest" />
    <!-- Metas -->
    <meta name="theme-color" content="{{ SYSTEM_COLOR }}" />
    <meta property="og:site_name" content="{{ RP_ORGTYPE }} {{ SERVER_CITY }}" />
    <meta property="og:url" content="{{ own_url }}" />
    <meta property="og:title" content="Schriftliche Abmahnung > {{ erhalter }}" />
    <meta property="og:image" content="{{ META_IMAGE_URL }}" />
    <meta property="og:description" content="Schriftliche Abmahnung" />
</head>
<body class="bg-secondary" data-page-amount="1">
    <div class="page-container">
        <div class="page shadow mx-auto mt-2 bg-light">
            <div class="col-4 float-end">
                <img src="{{ BASE_PATH }}assets/img/schrift_fw_schwarz.png" alt="Schriftzug Berufsfeuerwehr {{ SERVER_CITY }}" style="max-width:100%">
                <div class="my-4"></div>
                <p style="font-size:10pt">Datum</p>
                <p style="font-size:12pt;margin-top:-18px">{{ ausstellungsdatum }}</p>
            </div>
            
            <p style="font-size:10pt">{{ RP_ORGTYPE }} {{ SERVER_CITY }}<br>{{ RP_STREET }}<br>{{ RP_ZIP }} {{ SERVER_CITY }}</p>
            
            <p>{{ anrede_text }}<br>
                {{ erhalter }}<br>
                {{ RP_ZIP }} {{ SERVER_CITY }}
            </p>
            
            <div class="my-5"></div>
            
            <p style="font-size:15pt;font-weight:bolder" class="mb-3">Schriftliche Abmahnung</p>
            
            <div class="letter-content">
                <p>Sehr {{ geehrte }} {{ anrede_text }} {{ erhalter }},</p>
                
                <p>hiermit werden Sie schriftlich bezüglich der unten genannten Vorfälle abgemahnt.</p>
                
                <p>Sollten Sie weiterhin dienstlich auffällig werden, müssen Sie mit weiteren dienstrechtlichen Konsequenzen bis hin zur Dienstentfernung rechnen.</p>
                
                <p>Der Grund der Abmahnung lautet:</p>
                
                <div class="reasoning border border-2 border-dark py-3 px-2">
                    {{ inhalt|raw }}
                </div>
            </div>
            
            <div class="my-5"></div>
            
            <div class="row signatures">
                <div class="col">
                    <table>
                        <tbody>
                            <tr class="text-center" style="border-bottom: 2px solid #000">
                                <td class="signature">{{ issuer.lastname }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fw-bold">{{ issuer.fullname }}</span>
                                    {% if issuer.dienstgrad_badge %}
                                        <br><img src="{{ issuer.dienstgrad_badge }}" height="12px" width="auto" alt="Dienstgrad" />
                                    {% endif %}
                                    {{ issuer.dienstgrad_text }}
                                    {% if issuer.zusatz %}
                                        <br>{{ issuer.zusatz }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
            
            <div class="document-styling">
                <div class="strich-1"></div>
                <div class="strich-2"></div>
                <div class="strich-3"></div>
            </div>
        </div>
    </div>
</body>
</html>